<!DOCTYPE html>
{% extends '_base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookstore{% endblock title %}</title>
</head>
<body>
    <div class="container">
        {% block content %}
            <h1>Homepage</h1>
            <img class="bookcover" src="{% static 'images/dfp.jpg' %}">
            {% if user.is_authenticated %}
                Hi {{ user.email }}!
                <p><a href="{% url 'account_logout' %}">Log Out</a></p>

            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'account_login' %}">Log In</a>
                <a href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
        {% endblock content %}
    </div>
</body>
</html>